@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Al-hejrahLib<br />
    Az Zarqa,The Hashemite University <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>الدعم الفني:</strong>   <a href="mailto:Abdallah.ta996@hu.edu.gov.jo">Abdallah.ta996@hu.edu.gov.jo</a><br />
    <strong>تابع ل :الجامعة الهاشمية:</strong> <a href="mailto:hu@hu.gov.jo">hu@hu.gov.jo</a>
</address>