@{
    ViewBag.Title = "للتواصل";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>






<h3>
    <strong>Al-hejrahLib</strong><br />
    Az Zarqa,The Hashemite University <br />
    <abbr title="Phone">الهاتف:</abbr> 96253844295+
    <br />



    <strong>الدعم الفني:</strong>   <a href="mailto:Abdallah.ta996@hu.edu.gov.jo">Abdallah.ta996@hu.edu.gov.jo</a><br />
    <strong>تابع للجامعة الهاشمية:</strong> <a href="mailto:hu@hu.gov.jo">hu@hu.gov.jo</a>

</h3>