@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>مكتبة الهجرة</h1>
    <p class="lead">.موقع مكتبة الهجرة يقدم فرصة المشاركة في اكبر مكتبة رقمية تختص في الكتب الاسلامية </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">للمزيد &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ابدا</h2>
        <p>
            شارك في اكبر عمل خيري مختص في تجميع الكتب الاسلامية بجميع اقسامها,تراجع الطلب على الكتب الورقية ادى الى
            انخفاض عدد المطابع.
            نحاول في هذا المشروع جمع اكبر عدد من الكتب القيمة التي اوشكت على الاندثار.
           يمكنك تصوير الكتب و المصنفات التي ترغب بالمشاركة بها ورفعها على بصيغة رقمية تمكن 
            طلاب العلم من الاستفادة منها.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>