@model IEnumerable<FirstLibrary.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>مكتبة الهجرة</h1>
    <p class="lead">.موقع مكتبة الهجرة يقدم فرصة المشاركة في اكبر مكتبة رقمية تختص في الكتب الاسلامية </p>
    <p><a href="" class="btn btn-primary btn-lg">التسجيل &raquo;</a></p>
</div>

@foreach (var item in Model)
{
<div class="panel panel-default" style="padding:15px;">
    <h2 class="panel-heading">@Html.DisplayFor(modelItem => item.CategoryName)</h2>
    <h5>@Html.DisplayFor(modelItem => item.CategoryDescription)</h5>
    <div class="row">
        @*من 18 الى اللوب و بعد اللوب تسكيرتهم*@
        <div class="col-md-3 thumbnail">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="imgBx">
                            @foreach (var subItem in item.book)
                            {


                                <img src="~/Bimgs/@subItem.BookImage" />
                                <h3>@Html.DisplayFor(modelItem => subItem.BookTitle)</h3>
                                <h2>@Html.DisplayFor(modelItem => subItem.BookContent)</h2>
                                <button class="btn btn-default" style="margin-bottom:0px;">التفاصيل</button>


                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    
</div>
}



<div class="row">
    <div class="col-md-4">
        <h2>ابدا</h2>
        <p style="color:black">
            شارك في اكبر عمل خيري مختص في تجميع الكتب الاسلامية بجميع اقسامها,تراجع الطلب على الكتب الورقية ادى الى
            انخفاض عدد المطابع.
            نحاول في هذا المشروع جمع اكبر عدد من الكتب القيمة التي اوشكت على الاندثار.
            يمكنك تصوير الكتب و المصنفات التي ترغب بالمشاركة بها ورفعها على بصيغة رقمية تمكن
            طلاب العلم من الاستفادة منها.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

</div>
@* <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div> *@